.logo-header{
    font-size: 35px;

    &::before{
        content: "Confederação Brasileira de";
        position: absolute;
        font-size: 8px;
        top:0px;
        left:8px;
        color: #999;
    }
}

.navbar-brand{
    position: relative;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}
