
.header{
    // background: url(../../../../public/assets/img/home-bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../../../public/assets/img/banner-contato-inferior.webp");
    background-image: url("../../../../public/assets/img/home-bg-default.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 80vh;

    .btn{
        border-color: #f89406;
    }

}