
#headerGraduacao{
    background-image: url("../../../../public/assets/img/bannerGraduacao.webp");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../../../public/assets/img/bannerGraduacao.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-position: 50% 90%;
    height: 50vh;

}